/* Global styles */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --green-500: hsl(158, 36%, 37%);
  --green-700: hsl(158, 42%, 18%);

  --black: hsl(212, 21%, 14%);
  --grey: hsl(228, 12%, 48%);
  --cream: hsl(30, 38%, 92%);
  --white: hsl(0, 0%, 100%);
}

body {
  min-height: 100vh;
  background-color: var(--cream);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container {
  background-color: var(--white);
  width: 44%;
  display: flex;
  border-radius: 0.8rem;
}

/* Banner */
.banner__image-desktop {
  min-width: 50%;
  height: auto;
  border-top-left-radius: 0.8rem;
  border-bottom-left-radius: 0.8rem;
}

.banner__image-mobile {
  display: none;
}

/* Content */
.content {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.content__tag {
  font-family: "Montserrat", sans-serif;
  font-size: 0.9rem;
  font-weight: 500;
  color: var(--grey);
  letter-spacing: 5px;
}

.content__heading {
  margin-top: 1.2rem;
  font-family: "Fraunces", serif;
  font-size: 2rem;
  color: var(--black);
  font-weight: 700;
}

.content__description {
  margin-top: 1.2rem;
  font-family: "Montserrat", sans-serif;
  font-size: 0.9rem;
  font-weight: 500;
  color: var(--grey);
  line-height: 1.5rem;
}

.content__price {
  margin-top: 1.2rem;
  display: flex;
  gap: 1.6rem;
  align-items: center;
}

.content__price-offer {
  color: var(--green-500);
  font-family: "Fraunces", serif;
  font-size: 2rem;
  font-weight: 700;
}

.content__price-original {
  color: var(--grey);
  font-family: "Montserrat", sans-serif;
  font-size: 0.9rem;
  font-weight: 500;
  text-decoration: line-through;
}

.content__button {
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  gap: 0.7rem;
  padding: 1rem 2rem 1rem 2rem;
  width: 100%;
  border: none;
  border-radius: 0.4rem;
  background-color: var(--green-500);
  cursor: pointer;
}

.content__button h1 {
  font-family: "Montserrat", sans-serif;
  color: var(--white);
  font-size: 0.9rem;
  font-weight: 600;
}

.content__button:hover {
  background-color: var(--green-700);
}

/* Footer */
.attribution {
  font-size: 0.8rem;
  text-align: center;
  padding: 2rem;
}
.attribution a {
  color: var(--green-500);
}

@media screen and (max-width: 375px) {
  .container {
    flex-direction: column;
    width: 90%;
    margin-top: 1.5rem;
  }

  .banner__image-desktop {
    display: none;
  }

  .banner__image-mobile {
    display: block;
    height: 50%;
    border-top-right-radius: 0.6rem;
    border-top-left-radius: 0.6rem;
  }

  .content {
    padding: 1.2rem;
  }

  .content__description {
    margin-top: 1rem;
  }

  .content__button {
    margin-top: 1rem;
  }
}

@media screen and (min-width: 376px) and (max-width: 700px) {
  .container {
    flex-direction: column;
    width: 80%;
    margin-top: 1.5rem;
  }

  .banner__image-desktop {
    display: none;
  }

  .banner__image-mobile {
    display: block;
    height: 50%;
    border-top-right-radius: 0.6rem;
    border-top-left-radius: 0.6rem;
  }
}

@media screen and (min-width: 701px) and (max-width: 1100px) {
  .container {
    flex-direction: row;
    width: 70%;
    margin-top: 1.5rem;
  }
}
